body {
  width: fit-content;
  margin: 5rem;
  text-align: center;
}

header {
  background-color: goldenrod;
}


div {
  background-color: brown;
}

footer {
  background-color: aquamarine;
}

.button1 {
  background-color: blue;
}

.button2 {
  background-color: chartreuse;
}

.buttn3 {
  background-color: cadetblue;
}